# Preprocessing

## Imports

In [65]:
import pandas as pd
from pdfminer.high_level import extract_text
import nltk
import re                                  # library for regular expression operations
import string                              # for string operations
from nltk.corpus import stopwords          # module for stop words that come with NLTK
from nltk.stem.snowball import FrenchStemmer        # module for stemming
from nltk.tokenize import word_tokenize   # module for tokenizing strings
import openai
import requests

## Load the files

In [70]:
url_data= "C:\\Users\\HAJJARI\\Desktop\\AI\\13-GithubRepos\\DGI-Bourse-Portal\\Bourse_Casablanca\\Bourse_Casablanca\\spiders\\publications.json"
publications=pd.read_json(url_data, orient='records')
publications.head()

,Issuer_name,Publication_date,Publication_title,publication_link
0,AFMA,2023-08-30,AFMA : CP relatif aux indicateurs du 2ème trim...,https://media.casablanca-bourse.com/sites/defa...
1,AKDITAL,2023-08-28,Akdital : CP relatif aux indicateurs du 2ème t...,https://media.casablanca-bourse.com/sites/defa...
2,AGMA,2023-04-28,None,None
3,ARADEI CAPITAL,2023-08-31,Aradei Capital : CP relatif aux indicateurs du...,https://media.casablanca-bourse.com/sites/defa...
4,ALLIANCES,2023-08-31,ADI : CP relatif aux indicateurs du 2ème trime...,https://media.casablanca-bourse.com/sites/defa...

In [69]:
publications.Publication_date = pd.to_datetime(publications.Publication_date)

In [20]:
for index, row in publications.iterrows():
    pdf_url = row['publication_link']
    response = requests.get(pdf_url)
    if response.status_code == 200:
        with open(f'pdf_{index}.pdf', 'wb') as pdf_file:
            pdf_file.write(response.content)

In [62]:
#Import the frensh stop words list from NLTK
french_stopwords = stopwords.words('french')
string.punctuation = '!"#$&\'()*+,-./:;<=>?@[\\]^_`{|}~’•▪'
text_clean=[]

def remove_websites(text):
    return re.sub(r'http\S+|www\S+', '', text)

def remove_emails(text):
    return re.sub(r'\S+@\S+', '', text)

def clean_text(text):
    text_no_websites = remove_websites(text)
    return remove_emails(text_no_websites)


pdf_file_path = f'pdf_3.pdf'
pdf_reader = extract_text(pdf_file_path, 'rb')
lower_text = pdf_reader.lower()
clean_text = clean_text(lower_text)
token_text= word_tokenize(clean_text)
for word in token_text: # Go through every word in your tokens list
    if (word not in french_stopwords and  # remove stopwords
        word not in string.punctuation):  # remove punctuation
        text_clean.append(word)
clean_cp= ' '.join(text_clean)

In [63]:
API_KEY = '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'
openai.api_key = API_KEY

response = openai.ChatCompletion.create(
    model = "gpt-3.5-turbo",
    messages = [
        {"role": "user", "content": f'Je recherche des informations sur le chiffre d\'affaires social(parfois mentionné chiffre d\'affaires) en T2 2023 et en T2 2022. Merci de me fournir une réponse concise sous le forme: "Le chiffre d\'affaires social en T2 2023 est de X millions de dirhams, tandis que le chiffre d\'affaires social en T2 2022 est de Y millions de dirhams" {clean_cp}'}
        
    ],
    temperature=0.5,  # Reduit la diversité des réponses générées
)

answer = response['choices'][0]['message']['content']

In [64]:
answer

"Le chiffre d'affaires social en T2 2023 est de 480 millions de dirhams, tandis que le chiffre d'affaires social en T2 2022 est de 355 millions de dirhams. L'endettement net du groupe a baissé de 4 %, passant de 2,268 milliards de dirhams en juin 2022 à 2,183 milliards de dirhams en juin 2023. Le groupe dispose d'un carnet de commandes de 7,756 unités, d'une valeur de 3,1 milliards de dirhams. La production de unités réceptionnées au T2 2023 s'élève à 837 unités, contre 639 unités au T2 2022."