# Preprocessing

## Imports

In [15]:
import pandas as pd
from pdfminer.high_level import extract_text
import nltk
import re                                  # library for regular expression operations
import string                              # for string operations
from nltk.corpus import stopwords          # module for stop words that come with NLTK
from nltk.stem.snowball import FrenchStemmer        # module for stemming
from nltk.tokenize import word_tokenize   # module for tokenizing strings
import openai
import pdfplumber
import requests

## Load the files

In [13]:
url_data= "C:\\Users\\HAJJARI\\Desktop\\AI\\13-GithubRepos\\DGI-Bourse-Portal\\Bourse_Casablanca\\Bourse_Casablanca\\spiders\\publications.json"
publications=pd.read_json(url_data, orient='records')
publications.head()

,Issuer_name,Publication_date,Publication_title,publication_link
0,ALUMINIUM DU MAROC,2023-08-17,ALM : CP relatif aux indicateurs du 2ème trime...,https://media.casablanca-bourse.com/sites/defa...
1,ATLANTASANAD,2023-08-17,ATL : CP relatif aux indicateurs du 2ème trime...,https://media.casablanca-bourse.com/sites/defa...
2,AGMA,2023-04-28,AGM: Rapport financier annuel 2022,https://media.casablanca-bourse.com/sites/defa...
3,ALLIANCES,2023-08-31,ADI : CP relatif aux indicateurs du 2ème trime...,https://media.casablanca-bourse.com/sites/defa...
4,AFRIC INDUSTRIES,2023-08-02,AFI : CP relatif aux indicateurs du 2ème trime...,https://media.casablanca-bourse.com/sites/defa...

In [23]:
publications.loc[34,'Issuer_name']

'ENNAKL'

In [14]:
publications.Publication_date = pd.to_datetime(publications.Publication_date)

In [20]:
for index, row in publications.iterrows():
    pdf_url = row['publication_link']
    response = requests.get(pdf_url)
    if response.status_code == 200:
        with open(f'pdf_{index}.pdf', 'wb') as pdf_file:
            pdf_file.write(response.content)

In [26]:
#Import the frensh stop words list from NLTK
french_stopwords = stopwords.words('french')
string.punctuation = '!"#$&\'()*+,-./:;<=>?@[\\]^_`{|}~’•▪'
text_clean=[]

def remove_websites(text):
    return re.sub(r'http\S+|www\S+', '', text)

def remove_emails(text):
    return re.sub(r'\S+@\S+', '', text)

def clean_text(text):
    text_no_websites = remove_websites(text)
    return remove_emails(text_no_websites)


pdf_file_path = f'pdf_0.pdf'
pdf_reader = extract_text(pdf_file_path, 'rb')
lower_text = pdf_reader.lower()
clean_text = clean_text(lower_text)
token_text= word_tokenize(clean_text)
for word in token_text: # Go through every word in your tokens list
    if (word not in french_stopwords and  # remove stopwords
        word not in string.punctuation):  # remove punctuation
        text_clean.append(word)
clean_cp= ' '.join(text_clean)

In [ ]:
API_KEY = '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'
openai.api_key = API_KEY

response = openai.ChatCompletion.create(
    model = "gpt-3.5-turbo",
    messages = [
        {"role": "user", "content": f'Je recherche des informations sur le chiffre d\'affaires social(parfois mentionné chiffre d\'affaires) en T1 2023 et en T1 2022. Merci de me fournir une réponse concise sous le forme: "Le chiffre d\'affaires social en T1 2023 est de X millions de dirhams, tandis que le chiffre d\'affaires social en T1 2022 est de Y millions de dirhams" {clean_cp}'}
        
    ],
    temperature=0.5,  # Reduit la diversité des réponses générées
)

answer = response['choices'][0]['message']['content']

## Extract text using PDFMiner

In [96]:
text_ctm = extract_text(cp_ctm)
text_alm = extract_text(cp_alm)
text_gaz = extract_text(cp_gaz)
text_adi = extract_text(cp_adi)

## Convert the text to lowercase

In [160]:
text_ctm = text_ctm.lower()
text_alm = text_alm.lower()
text_gaz = text_gaz.lower()
text_adi = text_adi.lower()

# example of text
text_alm

"                communication financiere :  indicateurs trimestriels t1 - 2023 \n\nchiffre d’affaires (en m mad) \n\nt1 2023 \n\nt1 2022 \n\necart  ecart en % \n\n307 \n\n366  \n\n                     -59    \n\n-16% \n\nle  chiffre  d'affaires  à  fin  mars  2023  s’établit  à  307  mmad  en  baisse  de  16%  par \nrapport à la même période de l’année 2022. cette variation est expliquée par la \nbaisse des cours de la matière première, et les niveaux élevés de stocks constitués \npar la majorité des clients en fin 2022. \n\ninvestissements (en m mad) \n\nt1 2023 \n\nt1 2022 \n\necart  ecart en % \n\n1,22  \n\n               2,30  \n\n                     -1,08    \n\n-47% \n\nla  société  prévoit  des  investissements  d’amélioration  continue  de  son  outil  de \nproduction,  d’aménagement  des  sites  de  distribution,  de  modernisation  de  son \nsystème  d’information,  et  orientés  en  faveur  de  la  réduction  de  son  empreinte \ncarbone, pour une enveloppe prévisionnelle de 25 mdh. \n\nendettements financier net (en m mad) \n\nt1 2023 \n\nfin 2022 \n\necart  ecart en % \n\n498,72                  571,56  \n\n                     -72,84    \n\n-13% \n\nau cours du premier trimestre 2023, l’endettement s’établit à 498.72mdh en baisse \nde  13%  par  rapport  à  2022,  grâce  à  l’amélioration  du  bfr  de  la  société, \nparticulièrement  lié  aux  stocks  de  matières.  la  société  a  contracté  un  nouveau \ncrédit moyen terme de 75 mmad en début d’année. \n\naluminium du maroc s. a. \n\nsociété anonyme au capital de 46.595.400 dirhams - r.c.tanger : n°3111-                    \n\nc.n.s.s. : n°1783267 - identifiant fiscal. : n°04902833     ice : n°001526440000062 \ndirection commerciale & agence- 6 av. med jamal eddora - aïn-sebaâ-casablanca-20250- \ntél. :0212(0)5 22 67 30 77 -35 58 32- fax : +212 (0) 5 22 94 87 39 \n\nshowroom-15 rue ali abderrazak - maârif - casablanca-tél. : +212 (0) 5 22 94 87 28/33        \n\nsiège social et usine-zone industrielle-route de tétouan-bp 324-tanger 90000                       \n\nfax : +212 (0) 5 22 94 87 39 \n\ntél : +212 (0) 5 39 32 99 50-fax :+212 (0) 5 39 35 17 24 \nresponsable de la communication : m. adil hajaji \n\nce communiqué est disponible sur le site  - finance \n\n \n \n \n \n \n \n \n \n \n \n\x0c"

### remove websites, mails

In [120]:

def remove_websites(text):
    return re.sub(r'http\S+|www\S+', '', text)

def remove_emails(text):
    return re.sub(r'\S+@\S+', '', text)

def clean_text(text):
    text_no_websites = remove_websites(text)
    return remove_emails(text_no_websites)

text_ctm = clean_text(text_ctm)
text_alm = clean_text(text_alm)
text_gaz = clean_text(text_gaz)
text_adi = clean_text(text_adi)

## tokenizing

In [161]:
ctm_tokens = word_tokenize(text_ctm)
alm_tokens = word_tokenize(text_alm)
gaz_tokens = word_tokenize(text_gaz)
adi_tokens = word_tokenize(text_adi)

print(alm_tokens)

['communication', 'financiere', ':', 'indicateurs', 'trimestriels', 't1', '-', '2023', 'chiffre', 'd', '’', 'affaires', '(', 'en', 'm', 'mad', ')', 't1', '2023', 't1', '2022', 'ecart', 'ecart', 'en', '%', '307', '366', '-59', '-16', '%', 'le', 'chiffre', "d'affaires", 'à', 'fin', 'mars', '2023', 's', '’', 'établit', 'à', '307', 'mmad', 'en', 'baisse', 'de', '16', '%', 'par', 'rapport', 'à', 'la', 'même', 'période', 'de', 'l', '’', 'année', '2022.', 'cette', 'variation', 'est', 'expliquée', 'par', 'la', 'baisse', 'des', 'cours', 'de', 'la', 'matière', 'première', ',', 'et', 'les', 'niveaux', 'élevés', 'de', 'stocks', 'constitués', 'par', 'la', 'majorité', 'des', 'clients', 'en', 'fin', '2022.', 'investissements', '(', 'en', 'm', 'mad', ')', 't1', '2023', 't1', '2022', 'ecart', 'ecart', 'en', '%', '1,22', '2,30', '-1,08', '-47', '%', 'la', 'société', 'prévoit', 'des', 'investissements', 'd', '’', 'amélioration', 'continue', 'de', 'son', 'outil', 'de', 'production', ',', 'd', '’', 'aménagement', 'des', 'sites', 'de', 'distribution', ',', 'de', 'modernisation', 'de', 'son', 'système', 'd', '’', 'information', ',', 'et', 'orientés', 'en', 'faveur', 'de', 'la', 'réduction', 'de', 'son', 'empreinte', 'carbone', ',', 'pour', 'une', 'enveloppe', 'prévisionnelle', 'de', '25', 'mdh', '.', 'endettements', 'financier', 'net', '(', 'en', 'm', 'mad', ')', 't1', '2023', 'fin', '2022', 'ecart', 'ecart', 'en', '%', '498,72', '571,56', '-72,84', '-13', '%', 'au', 'cours', 'du', 'premier', 'trimestre', '2023', ',', 'l', '’', 'endettement', 's', '’', 'établit', 'à', '498.72mdh', 'en', 'baisse', 'de', '13', '%', 'par', 'rapport', 'à', '2022', ',', 'grâce', 'à', 'l', '’', 'amélioration', 'du', 'bfr', 'de', 'la', 'société', ',', 'particulièrement', 'lié', 'aux', 'stocks', 'de', 'matières', '.', 'la', 'société', 'a', 'contracté', 'un', 'nouveau', 'crédit', 'moyen', 'terme', 'de', '75', 'mmad', 'en', 'début', 'd', '’', 'année', '.', 'aluminium', 'du', 'maroc', 's.', 'a.', 'société', 'anonyme', 'au', 'capital', 'de', '46.595.400', 'dirhams', '-', 'r.c.tanger', ':', 'n°3111-', 'c.n.s.s', '.', ':', 'n°1783267', '-', 'identifiant', 'fiscal', '.', ':', 'n°04902833', 'ice', ':', 'n°001526440000062', 'direction', 'commerciale', '&', 'agence-', '6', 'av', '.', 'med', 'jamal', 'eddora', '-', 'aïn-sebaâ-casablanca-20250-', 'tél', '.', ':0212', '(', '0', ')', '5', '22', '67', '30', '77', '-35', '58', '32-', 'fax', ':', '+212', '(', '0', ')', '5', '22', '94', '87', '39', 'showroom-15', 'rue', 'ali', 'abderrazak', '-', 'maârif', '-', 'casablanca-tél', '.', ':', '+212', '(', '0', ')', '5', '22', '94', '87', '28/33', 'siège', 'social', 'et', 'usine-zone', 'industrielle-route', 'de', 'tétouan-bp', '324-tanger', '90000', 'fax', ':', '+212', '(', '0', ')', '5', '22', '94', '87', '39', 'tél', ':', '+212', '(', '0', ')', '5', '39', '32', '99', '50-fax', ':', '+212', '(', '0', ')', '5', '39', '35', '17', '24', 'responsable', 'de', 'la', 'communication', ':', 'm.', 'adil', 'hajaji', 'ce', 'communiqué', 'est', 'disponible', 'sur', 'le', 'site', '-', 'finance']

### Remove stop words and punctuations

In [122]:
#Import the frensh stop words list from NLTK
french_stopwords = stopwords.words('french')
string.punctuation = '!"#$&\'()*+,-./:;<=>?@[\\]^_`{|}~’•▪'

In [123]:
ctm_clean = []
alm_clean = []
gaz_clean = []
adi_clean = []

for word in ctm_tokens: # Go through every word in your tokens list
    if (word not in french_stopwords and  # remove stopwords
        word not in string.punctuation):  # remove punctuation
        ctm_clean.append(word)

for word in alm_tokens: # Go through every word in your tokens list
    if (word not in french_stopwords and  # remove stopwords
        word not in string.punctuation):  # remove punctuation
        alm_clean.append(word)
        
for word in gaz_tokens: # Go through every word in your tokens list
    if (word not in french_stopwords and  # remove stopwords
        word not in string.punctuation):  # remove punctuation
        gaz_clean.append(word)
        
for word in adi_tokens: # Go through every word in your tokens list
    if (word not in french_stopwords and  # remove stopwords
        word not in string.punctuation):  # remove punctuation
        adi_clean.append(word)


#Example        
print(ctm_clean)

['communication', 'financière', 'indicateurs', 'clés', '1er', 'trimestre', '2023', 'chiffre', 'consolidé', '144', 'mdhs', 'chiffre', 'affaires', 'social', '108', 'mdhs', 'endettement', '106', 'mdhs', 'indicateurs', 'activité', 'mdh', 'chiffres', "d'affaires", 'social', 't1', '2023', '108', 't1', '2022', 'variation', '95', '14,0', '%', 'cours', 'premier', 'trimestre', 'chiffre', "d'affaires", 'établit', '108', 'millions', 'dirhams', 'hausse', '14', '%', 'rapport', "l'année", 'précédente', 'cette', 'croissance', 'due', 'principalement', 'hausse', 'nombre', 'passagers', 'activité', 'transport', 'interurbain', 'ainsi', 'performances', 'activité', 'location', 'autocars', 'mdh', 't1', '2023', 't1', '2022', 'variation', 'chiffres', "d'affaires", 'consolidé', '144', '127', '13,7', '%', 'chiffre', 'affaires', 'consolidé', 'groupe', 'atteint', '144', 'millions', 'dirhams', 'fin', 'mars', '2023', 'contre', '127', 'millions', 'dirhams', '2022', 'grâce', 'réalisations', 'activités', 'transport', 'voyageurs', 'location', 'autocars', 'messagerie', 'indicateurs', 'bilantiels', 'mdh', 'capex', 't1', '2023', '1', 't1', '2022', '25', 'variation', '-95,5', '%', 'effort', 'investissements', 'principalement', 'autocars', 'réalisé', 'cours', 'deuxième', 'trimestre', '2023.', 'mdh', 'endettement', 't1', '2023', '106', '2022', '109', 'variation', '-2,6', '%', 'cours', 'premier', 'trimestre', '2023', 'endettement', 'groupe', 'ctm', 'établit', '106', 'millions', 'dirhams', 'baisse', '2,6', '%', 'rapport', '2022.', 'compagnie', 'transports', 'maroc', 'ctm', 'capital', '122', '597', '800,00', 'dhs', 'siège', 'social', 'km', '13,5', 'autoroute', 'casablanca-rabat', 'casablanca', 'maroc', 'contact', 'communication', 'financière', 'm.', 'hassan', 'el', 'hilali', 'directeur', 'financier', 'tél', '+212', '5', '22', '76', '21', '08']

# Return cleaned text

In [162]:
# Join the cleaned words into a single string
cleaned_text_ctm = ' '.join(ctm_clean)
cleaned_text_alm = ' '.join(alm_clean)
cleaned_text_gaz = ' '.join(gaz_clean)
cleaned_text_adi = ' '.join(adi_clean)


#Example of cleaned text.
print(cleaned_text_alm)

communication financiere indicateurs trimestriels t1 2023 chiffre affaires mad t1 2023 t1 2022 ecart ecart % 307 366 -59 -16 % chiffre d'affaires fin mars 2023 établit 307 mmad baisse 16 % rapport période année 2022. cette variation expliquée baisse cours matière première niveaux élevés stocks constitués majorité clients fin 2022. investissements mad t1 2023 t1 2022 ecart ecart % 1,22 2,30 -1,08 -47 % société prévoit investissements amélioration continue outil production aménagement sites distribution modernisation système information orientés faveur réduction empreinte carbone enveloppe prévisionnelle 25 mdh endettements financier net mad t1 2023 fin 2022 ecart ecart % 498,72 571,56 -72,84 -13 % cours premier trimestre 2023 endettement établit 498.72mdh baisse 13 % rapport 2022 grâce amélioration bfr société particulièrement lié stocks matières société a contracté nouveau crédit moyen terme 75 mmad début année aluminium maroc s. a. société anonyme capital 46.595.400 dirhams r.c.tanger n°3111- c.n.s.s n°1783267 identifiant fiscal n°04902833 ice n°001526440000062 direction commerciale agence- 6 av med jamal eddora aïn-sebaâ-casablanca-20250- tél :0212 0 5 22 67 30 77 -35 58 32- fax +212 0 5 22 94 87 39 showroom-15 rue ali abderrazak maârif casablanca-tél +212 0 5 22 94 87 28/33 siège social usine-zone industrielle-route tétouan-bp 324-tanger 90000 fax +212 0 5 22 94 87 39 tél +212 0 5 39 32 99 50-fax +212 0 5 39 35 17 24 responsable communication m. adil hajaji communiqué disponible site finance

# Setting the API

### API Key

In [24]:
API_KEY = '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'
openai.api_key = API_KEY

### Response

In [139]:
response = openai.ChatCompletion.create(
    model = "gpt-3.5-turbo",
    messages = [
        {"role": "user", "content": f'Je recherche des informations sur le chiffre d\'affaires social(parfois mentionné chiffre d\'affaires) en T1 2023 et en T1 2022. Merci de me fournir une réponse concise sous le forme: "Le chiffre d\'affaires social en T1 2023 est de X millions de dirhams, tandis que le chiffre d\'affaires social en T1 2022 est de Y millions de dirhams" {cleaned_text_alm}'}
        
    ],
    temperature=0.5,  # Reduit la diversité des réponses générées
)

answer = response['choices'][0]['message']['content']

In [140]:
answer

"Le chiffre d'affaires social en T1 2023 est de 307 millions de dirhams, tandis que le chiffre d'affaires social en T1 2022 est de 366 millions de dirhams."

### Pre-processing the answer

In [143]:
# Define a function to clean the extracted values
def clean_value(value):
    value = value.replace(',', '')
    value = value.replace('.', '')
    value = value.replace(' ', '')
    return int(value)

# Extract the values from the answer using regular expressions
values = re.findall(r"([\d,.\s]+) millions", answer)
t1_2023 = clean_value(values[0])
t1_2022 = clean_value(values[1])

### From the answer to a dataframe

In [144]:
# Calculate the percentage difference
ecart = ((t1_2023 - t1_2022) / t1_2022) * 100

# Format the percentage difference with one decimal place
ecart_str = f"{ecart:.1f}%"

# Create a DataFrame
df_ctm = pd.DataFrame({
    'T1_2023': [t1_2023],
    'T1_2022': [t1_2022],
    'Ecart': [ecart_str]
})

In [145]:
df_ctm

   T1_2023  T1_2022   Ecart
0      307      366  -16.1%